*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body{
    height: 100%;
}

.container{
    padding-left: 8%;
    padding-right: 8%;
}
/*Barra de Navegação*/
header nav.navbar{
    font-size: 14px;
    color: #555;
}
header ul{
    list-style: none;
    height: 65px;
    background: #FFF;
}

header nav.navbar ul.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 200px;
}

li#logo{
    display: flex;
    justify-content: center;
}

li#logo img{
    width: 50%;
}

li#categories{
    padding: 0 10px;
}

li#search{
    flex-grow: 2;
    padding: 0 20px;
    position: relative;
}

li#search input[type=text]{
    height: 40px;
    width: 90%;
    border: 0;
    background-color: #ddd;
    padding-left: 20px;
}
li#search button{
    height: 40px;
    padding: 0 15px;
    border: 0;
    position: absolute;
    cursor: pointer;
}

li#learn{
    border-right: 1px solid #ccc;
    padding: 0 20px;
}

li#user-menu{
    flex-grow: 2;
}

header nav.navbar ul.nav li.nav-item ul.sub-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav.navbar ul.nav li.nav-item ul.sub-nav .fas.fa-shopping-cart, header nav.navbar ul.nav li.nav-item ul.sub-nav .far{
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav.navbar ul.nav li.nav-item ul.sub-nav .fas.fa-shopping-cart:hover, header nav.navbar ul.nav li.nav-item ul.sub-nav .far:hover{
    background-color: #EEE;
    border: 1px solid #DDD;
    border-radius: 50%;
}

i.far.fa-heart{
    color: #F00;
}

header nav.navbar ul.nav li.nav-item ul.sub-nav .user{
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav.navbar ul.nav li.nav-item ul.sub-nav .user img{
    width: 50px;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-size: cover;
}

/*Mensagens não lidas*/
main section#unread-msg{
    color: #FFF;
    background-color: #585858;
    padding-top: 2em;
    padding-bottom: 2em;
}

main section#unread-msg h2{
    font-weight: 400;
    font-size: 2em;
    padding: 12px 0;
}

main section#unread-msg p{
    font-weight: 300;
}

/*Corpo principal*/
main section#view-msgs{
    display: flex;
    flex: 1 1 300px;
    height: 405px;
}

main section#view-msgs div.preview-all-msg{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 400px;
    border-right: 1px solid #DDD;
    background-color: #eee;
}

main section#view-msgs div.preview-all-msg div.row{
    display: flex;
    flex-direction: row;
}

.create-msg{
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    border-bottom: 1px solid #DDD;
}

.create-msg .row{
    padding-bottom: 10px;
}

.create-msg button#btn-create-msg{
    height: 40px;
    padding: 0 20px;
    color: #007791;
    border: 1px solid #007791;
    background-color: #FFF;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

.create-msg button#btn-create-msg:hover{
    color: #333;
    border: 1px solid #333;
}

.create-msg select#type-msg{
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
}

.create-msg input#search-msg{
    height: 40px;
    width: 90%;
    border: 0;
    background-color: #FFF;
    padding-left: 20px;
    font-size: 1em;
}

.create-msg button.btn-search-msg{
    height: 40px;
    padding: 0 15px;
    border: 0;
    cursor: pointer;
    color: #FFF;
    background-color: #007191;
    border-radius: 0 5px 5px 0;
}

.all-msg{
    padding: 1em 1em;
    display: flex;
}

.all-msg .row{
    display: flex;
    flex-direction: row;
}

.all-msg .single-msg{
    border: 1px solid #DDD;
    background-color: #fff;
    padding: 1em 1em;
    border-radius: 5px;
}

.all-msg .single-msg .header-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.all-msg .header-user img.user-avatar{
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #DDD;
    margin-right: 10px;
}

.all-msg .single-msg .header-user h3{
    font-size: 1em;
    font-weight: 700;
    color: #444;
}

.all-msg .single-msg .date-msg{
    font-size: .75em;
    width: 30%;
    text-align: right;
    color: #555;
}

.all-msg .single-msg .preview-msg{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1em 0;
    color: #888;
    cursor: pointer;
}

.all-msg .single-msg .preview-msg p{
    padding: 0 10px;
    font-size: .75em;
}

.all-msg .single-msg .preview-msg .fas:hover{
    color: #333;
}